{% extends 'baseNL.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <form method="post">
        {{ form_widget(registration_form) }}
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
{% endblock %}
