{% extends 'base.html.twig' %}

{% block title %}Nou horari{% endblock %}

{% block inside_body %}
    <h1>Crea un nou horari</h1>

    {{ include('schedule/_form.html.twig') }}

    {{ include('doctor/_back_to_list.html.twig') }}
{% endblock %}
