{% extends 'base.html.twig' %}

{% block title %}New Speciality{% endblock %}

{% block inside_body %}
    <h1>Crear nova especialitat</h1>

    {{ include('speciality/_form.html.twig') }}

    {{ include('speciality/_back_to_list.html.twig') }}
{% endblock %}
