{% extends 'base.html.twig' %}

{% block title %}Pantalla principal{% endblock %}

{% block inside_body %}
    <div class="cards-container">
        <a href="{{ path('app_admin_dashboard') }}" class="info-card container-style">
            <div class="background-overlay"></div>
            <div class="round-element">
                <img src="{{ asset('images/EditIcon.png') }}" class="image-in-circle" alt="...">
            </div>
            <p class="m-lg-3 mt-2" style="text-align: center"> <strong>Canviar</strong> la informació dels doctors.</p>
        </a>

        <a href="{{ path('app_index_screen') }}" class="info-card container-style">
            <div class="background-overlay"></div>
            <div class="round-element">
                <img src="{{ asset('images/MostrarInfoIcona.png') }}" class="image-in-circle" alt="...">
            </div>
            <p class="m-lg-3 mt-2" style="text-align: center"><strong>Mostrar</strong> informació per la pantalla</p>
        </a>
    </div>
{% endblock %}
