{% extends 'base.html.twig' %}

{% block title %}Panel d'administrador{% endblock %}

{% block inside_body %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Panel d'administrador</h1>
            <ul class="list-group">
                <li class="list-group-item">
                    <a class="btn btn-primary" href="{{ path('app_location_index') }}">Editar plantes i consultes dels doctors</a>
                </li>
                <li class="list-group-item">
                    <a class="btn btn-primary" href="{{ path('app_speciality_index') }}">Editar especialitats dels doctors</a>
                </li>
                <li class="list-group-item">
                    <a class="btn btn-primary" href="{{ path('app_doctor_index') }}">Editar dades els doctors</a>
                </li>
                <li class="list-group-item">
                    <a class="btn btn-primary" href="{{ path('app_schedule_index') }}">Editar horaris dels doctors</a>
                </li>

            </ul>
        </div>
    </div>

</div>

{% endblock %}
