{% block header %}
    {% include 'header.html.twig' %}
{% endblock %}

{% extends 'base.html.twig' %}

{% block title %}AdminDashboard!{% endblock %}

{% block body %}
<div class="row">
    <div class="col">
        <h1>Admin Dashboard ✅</h1>
        <ul class="list-group">
            <li class="list-group-item">
                <a class="btn btn-primary" href="{{ path('app_location_index') }}">Plantes i consultes dels doctors</a>
            </li>
            <li class="list-group-item">
                <a class="btn btn-primary" href="{{ path('app_speciality_index') }}">Especialitats dels doctors</a>
            </li>
            <li class="list-group-item">A third item</li>
            <li class="list-group-item">A fourth item</li>
            <li class="list-group-item">And a fifth one</li>
        </ul>
    </div>
</div>
{% endblock %}
