{% extends 'base.html.twig' %}

{% block title %}Edit Location{% endblock %}

{% block inside_body %}
    <h1>Edita la localització</h1>

    {{ include('location/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('location/_delete_form.html.twig') }}
    {{ include('doctor/_back_to_list.html.twig') }}

{% endblock %}
