<form method="post" action="{{ path('app_doctor_delete', {'id': doctor.id}) }}" onsubmit="return confirm('Estàs segur que vols eliminar aquest element? No es recuperarà');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ doctor.id) }}">
    <button class="btn btn-danger">
        <i class="bi bi-trash"></i>
        Esborrar
    </button>
</form>
