{% extends 'base.html.twig' %}

{% block title %}New Doctor{% endblock %}

{% block inside_body %}
    <h1>Crea un nou doctor/a</h1>

    {{ include('doctor/_form.html.twig') }}
    {{ include('doctor/_back_to_list.html.twig') }}

{% endblock %}
