{% extends 'baseNL.html.twig' %}
{% block title %}Accedir a Ekranas{% endblock %}
{% block body %}

    {% if error %}
        <div class="alert alert-danger">Credencials incorrectes, si us plau, intenta-ho de nou</div>
    {% endif %}

    <div class="container-fluid">
        <div class="row no-gutter">
            <!-- The content half -->
            <div class="col-md-6 bg-light">
                <div class="login d-flex align-items-center py-5">
                    <!-- Demo content-->
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 col-xl-7 mx-auto">
                                <h1 class="display-4 mb-5">Inicia sessió</h1>
                                <form action="{{ path('app_login') }}" method="post">
                                    <div class="form-group mb-3">
                                        <label for="inputEmail" class="form-label"><strong>Correu electrònic:</strong></label>
                                        <input id="inputEmail" type="email" name="_username" value="{{ last_username }}" placeholder="nom@exemple.com" required="" autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4">
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="inputPassword" class="form-label"><strong>Contrasenya:</strong></label>
                                        <input id="inputPassword" type="password" name="_password" placeholder="contrasenya" required="" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                                    </div>
                                    <div class="custom-control custom-checkbox mb-3">
                                        <input id="customCheck1" type="checkbox" checked class="custom-control-input">
                                        <label for="customCheck1" class="custom-control-label">Recorda la contrasenya</label>
                                    </div>
                                    <input type="hidden" name="_target_path" value="/">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                    <button type="submit" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Accedeix</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- The image half -->
            <div class="col-md-6 d-none d-md-flex bg-image"></div>
        </div>
    </div>

    <style>
        .bg-image {
            background-image: url("{{ asset('images/wallpaper4HCAs.jpg') }}");
            position: fixed;
            top: 0;
            right: 0;
            text-align: center;
            width: 50%;
            height: 100%;
            z-index: -1;
        }

        .login,
        .image {
            min-height: 100vh;
        }
    </style>
{% endblock %}
