@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.form-floating {
    margin-bottom: 10px;
}

.consulta-div {
    border-collapse: separate;
    border-spacing: 5px;
}
.imatge-visualitzar {
    max-width: 100%;
    max-height: 200px;
}

.boto-personalitzat {
    background-color: #8a4fc8;
    color: #ffffff;
    border: none;
    font-weight: bold;          /* Text en negreta */
    transition: 0.3s;           /* Transició suau per a efectes hover */
}

.boto-personalitzat:hover {
    background-color: #7639b0;  /* To més oscur per als fons */
}
.scrollable-list {
    max-height: 200px;
    overflow-y: auto;
}

.image {
    min-height: 100vh;
}

.bg-image {
    background-image: url("{{ asset('images/wallpaper4HCAs') }}");
    background-size: cover;
    background-position: center center;
}

.time-date-card {

    font-size: 20px;
    text-align: right;
}

.card {
    width: 200px;
    height: 100px;
    border-radius: 15px;
    box-shadow: rgba(0,0,0,0.7) 5px 10px 50px, rgba(0,0,0,0.7) -5px 0px 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #002f6c;
    position: relative;
    flex-direction: column;
    background: linear-gradient(to right, rgb(173, 216, 230), rgb(191, 239, 255));
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}



.card:hover {
    box-shadow: rgb(0,0,0) 5px 10px 50px ,rgb(0,0,0) -5px 0px 250px;
}

.time-text {
    font-size: 30px;
    margin: 0px;
    padding: 5px;
    font-weight: 600;
}

.time-sub-text {
    font-size: 15px;
    margin-left: 5px;
}

.day-text {
    font-size: 15px;
    margin-top: 0px;
    margin-left: 15px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.custom-table th {
    background-color: #ADD8E6;
    font-size: 20px;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    height: 100vh;
}
.clock {
    width: 31.25em;
    height: 8em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
}
.clock div {
    position: relative;
    background-color: #ffffff;
    height: 100%;
    width: 3.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5em;
    color: #150c41;
    border-radius: 0.4em;
    box-shadow: 0 1em 2em rgba(0, 0, 0, 0.3);
    letter-spacing: 0.05em;
}
.clock span {
    font-weight: 800;
    font-size: 2.5em;
    color: #ffffff;
}

.error {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    width: 320px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    border-radius: 50px;
    background: -webkit-linear-gradient(to right, #f45c43, #eb3349);
    background: linear-gradient(to right, #f45c43, #eb3349);
    box-shadow: 0 0px 10px #de1c3280;
}

.error__icon {
    width: 20px;
    height: 20px;
    transform: translateY(-2px);
    margin-right: 8px;
    filter: drop-shadow(2px 1px 2px rgb(0 0 0 / 0.4));
}

.error__icon path {
    fill: #fff;
}

.error__title {
    font-weight: 500;
    font-size: 14px;
    color: #fff;
}

.error__close {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: auto;
    filter: drop-shadow(2px 1px 2px rgb(0 0 0 / 0.4));
}

.error__close path {
    fill: #fff;
}

