.form-floating {
    margin-bottom: 10px;
}

.consulta-div {
    border-collapse: separate;
    border-spacing: 5px;
}
.imatge-visualitzar {
    max-width: 100%;
    max-height: 200px;
}

.boto-personalitzat {
    background-color: #8a4fc8;
    color: #ffffff;
    border: none;
    font-weight: bold;          /* Text en negreta */
    transition: 0.3s;           /* Transició suau per a efectes hover */
}

.boto-personalitzat:hover {
    background-color: #7639b0;  /* To més oscur per als fons */
}
.scrollable-list {
    max-height: 200px;
    overflow-y: auto;
}

.image {
    min-height: 100vh;
}

.bg-image {
    background-image: url("{{ asset('images/wallpaper4HCAs') }}");
    background-size: cover;
    background-position: center center;
}

.time-date-card {

    font-size: 20px; /* Ajusta el tamaño de la fuente según sea necesario */
    text-align: right; /* Alinea el texto a la derecha */
    /* Agrega cualquier otro estilo que necesites para que se ajuste a tu diseño */
}
.card {
    width: 280px;
    height: 150px;
    background: rgb(17, 4, 134);
    border-radius: 15px;
    box-shadow: rgb(0,0,0,0.7) 5px 10px 50px ,rgb(0,0,0,0.7) -5px 0px 250px;
    display: flex;
    color: white;
    justify-content: center;
    position: relative;
    flex-direction: column;
    background: linear-gradient(to right, rgb(20, 30, 48), rgb(36, 59, 85));
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.card:hover {
    box-shadow: rgb(0,0,0) 5px 10px 50px ,rgb(0,0,0) -5px 0px 250px;
}

.time-text {
    font-size: 50px;
    margin: 0; /* Elimina márgenes adicionales */
    padding: 0; /* Elimina rellenos adicionales */
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.time-sub-text {
    font-size: 15px;
    margin-left: 5px;
}

.day-text {
    font-size: 18px;
    margin-top: 0px;
    margin-left: 15px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.custom-table th {
    background-color: #ADD8E6;
    font-size: 20px; /* Si deseas que los encabezados tengan el tamaño de fuente de 20px */
}

.custom-table tr {
}
