{% block footer %}

    <footer class="text-center text-lg-start text-white mt-5" style="background-color: #1c2331">
        <section class="d-flex justify-content-between p-4" style="background-color: #2CACE5">
            <div class="me-5" style="font-size: 18px;">
                CONSULTES 1 A 15 PLANTA BAIXA, 16 A 21 PLANTA 1a
            </div>
        </section>
    </footer>
{% endblock %}

