{% block footer %}

    <footer class="text-center text-lg-start text-white mt-5" style="background-color: #1c2331">
        <section class="d-flex justify-content-between p-4" style="background-color: #2CACE5; padding: 2rem;">
            <div class="me-5" style="font-size: 18px; max-width: 60%;">
                Consultes 1 a 15 Planta Baixa, 16 a 21 Planta 1a, 28 a 31 Planta 4
            </div>
        </section>
    </footer>

{% endblock %}
