{% block admin_menu %}

    <a class="btn" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
        <i class="bi bi-list"></i>
    </a>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Menú</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div>
                Accedeix als apartats de la base de dades de la pantalla d'informació
            </div>
            <div class="list-group mt-2">
                <a href="{{ path('app_location_index') }}" class="list-group-item list-group-item-action" aria-current="true">
                    Plantes i consultes
                </a>
                <a href="{{ path('app_speciality_index') }}" class="list-group-item list-group-item-action">Especialitats dels doctors</a>
                <a href="{{ path('app_doctor_index') }}" class="list-group-item list-group-item-action">Dades dels doctors</a>
                <a href="{{ path('app_schedule_index') }}" class="list-group-item list-group-item-action">Horaris dels doctors</a>
            </div>
        </div>
    </div>
{% endblock %}