{% extends 'base.html.twig' %}

{% block title %}Nueva relación Doctor-Especialidad{% endblock %}

{% block body %}
    <h1>Nueva relación Doctor-Especialidad</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Guardar</button>
    {{ form_end(form) }}
{% endblock %}
